name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 99
      uses: actions/setup-java@v4
      with:
        java-version: '99'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Test Summary
      uses: test-summary/action@v2
      with:
        paths: "target/surefire-reports/*.xml"
      if: always()